
@{
    ViewData["Title"] = "GetData";
}

<h1>GetData</h1>
<div class="container">
	<p class="alert-danger"> Dữ diệu nhận từ ViewBag: @ViewBag.message1 </p>
	<p class="alert-success" Dữ liệu nhận từ ViewData: @ViewData["message2"] </p>
	<p class="alert-primary"> Dữ liệu từ TempData: @TempData["message3"]</p>
</div>
